.body{
  width: 80vw;
  height: 100vh;
  margin: auto;
  position: relative;
}
.face {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  /* background-color: #3ecc6c; */
  /* border: 1px solid black; */
  margin: auto;
}
.face img{
  width: 100%;
  height: 100%;
}

.eye {
  position: absolute;
  left: 150px;
  top: 300px;
  
}



.eye-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #fafffb;
  border-radius: 50%;
  border: 10px solid rgb(255, 255, 255);
  z-index: 3;
}
.eye-black {
  position: absolute;
  top: -25px;
  left: -30px;
  width: 50px;
  height: 50px;
  background-color: #0a093b;
  border-radius: 50%;
}


.hello {
  position: absolute;
  left: 500px;
  top: 520px;
  color: white;
  font-size: 20px;
  z-index: 5;
}

.helloimg img{
  width: 300px;
  position: relative;
}
.hellop{
  color: rgb(6, 6, 6);
  font-weight: bold;
  position: absolute;
  left: 90px;
  top:50px;
}